<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vuelos.DS.BD.Conexion" connectionString="DATA SOURCE=TOSHIBA-PC:1521/XE;PASSWORD=ORACLE01;PERSIST SECURITY INFO=True;USER ID=DESARROLLO"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>